<h1>Here are the clients for <%= @stylist.name() %></h1>


<% if @stylist.clients().any?() %>

  <ul>
  <% @stylist.clients().each() do |client| %>
  <li><a href="/clients/<%= client.stylist_id() %>"><%= client.client_description() %></li>
  <% end %>
  </ul>
<% else %>
 <p>There are no clients yet.</p>
 <% end %>

<div class="container">
  <a href="/stylists">Back To All Stylists</a>
  <br>
  <a href="/stylists/<%= @stylist.id() %>/clients/new">Add New Client</a>
</div>
<br>
<p><a href="/stylists/<%= @stylist.id() %>/edit"> Edit:  <%= @stylist.name() %></a></p>

<br>

<p><a href="/">Return to Main Page</a></p>
